# Data Types

## Variables

In [1]:
# Assigning Values to Variables

x = 56
name = "Bram"

print(x)        #show x variable's value
print (name)    #show name variable's value

56
Bram

In [1]:
# Multiple Assignment

a = b = 30

print(a)
print(b)

30
30

In [4]:
# Multiple Assignment 2

a, b, name = 10, 25, "Bram"

print(a)
print(b)
print(name)

10
25
Bram

## Standard Data Types

* Numbers
* String
* List
* Tuple
* Dictionary

In [5]:
# Numbers data types
# integer and float

a = 5
b = 6.9

print(a)
print(b)
print(type(a))
print(type(b))

5
6.9
<class 'int'>
<class 'float'>

In [9]:
# Strings
# we can access string like an array using index

sentences = 'Hello World'

print(type(sentences))
print(sentences)
print(sentences[2])
print(sentences[-1])
print(sentences*2)
print(sentences + ' 222')

<class 'str'>
Hello World
l
d
Hello WorldHello World
Hello World 222

In [14]:
# Lists
# Collection data ordered and changeable

a_list = ['123', 123, 1.34]
b_list = ['234', 2.54, 222]

print(a_list)
print(b_list[2])
print(a_list[1:])
print(a_list+b_list)

# Change or add
print("after changes")
a_list[2] = "eat"           # change value on index 2
b_list.append(555)          # add value at the end of list
b_list.insert(1, "drink")   # add value at spesific index

print(a_list)
print(b_list)

['123', 123, 1.34]
222
[123, 1.34]
['123', 123, 1.34, '234', 2.54, 222]
after changes
['123', 123, 'eat']
['234', 'drink', 2.54, 222, 555]

In [15]:
# Tuple
# Collection data ordered and unchangeable

a_tuple = ('eat', 222, 1.34)
print(a_tuple)
print(a_tuple[2])

# Tuple can't be modified
# If you want to add value to a tuple, you can change it to list and
# add some value the change back to tuple
# Or you can add a tuple with a tuple

# will return error!
# a_tuple[0] = 3
# print(a_tuple)

b_tuple = ('drink', 333, 3.31)
a_tuple += b_tuple
print(a_tuple)

('eat', 222, 1.34)
1.34
('eat', 222, 1.34, 'drink', 333, 3.31)

In [21]:
# Dictionary
# Collection data ordered and changable in format key:value
# Can' have two items with same key

food = {}

print(food)

# add value to directory
food['Jakarta'] = 'Kerak telor'
food['Padang'] = 'Rendang'
food['Makasar'] = 'Soto Makasar'
food['Bontang'] = 'Gami bawis'

print(food)
print(food.keys())          # get keys in food
print(food['Jakarta'])  

# update value
food.update({'Bontang': 'Amplang'})
print(food)

{}
{'Jakarta': 'Kerak telor', 'Padang': 'Rendang', 'Makasar': 'Soto Makasar', 'Bontang': 'Gami bawis'}
dict_keys(['Jakarta', 'Padang', 'Makasar', 'Bontang'])
Kerak telor
{'Jakarta': 'Kerak telor', 'Padang': 'Rendang', 'Makasar': 'Soto Makasar', 'Bontang': 'Amplang'}